{% extends 'base.html' %}

{% block title %}Bulletin Board{% endblock %}

{% block nav %}
    {% if user.person.role > 1 and not user.person.is_banned %}
        <a class="nav-item nav-link" href="{% url 'bulletin:add_thread' board.slug %}">Add Thread</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container row py-2">
    <div class="col">
        <h3>{{ board.name }}</h3>
        <ul>
            <li>Creator: <a href="{% url 'bulletin:profile' board.creator.slug %}">{{ board.creator }}</a></li>
            <li>Date: {{ board.created_on }}</li>
        </ul>
        <h4>Threads</h4>
        <ul>
            {% for thread in page_obj %}
                <li>
                    <a href="{% url 'bulletin:thread' thread.slug %}">{{ thread.title }}{% if thread.is_locked %}(Locked){% endif %}</a>   
                    <ul>
                        <li> <a href="{% url 'bulletin:profile' thread.posted_by.slug %}">{{ thread.posted_by }}</a></li>
                        <li>{{ thread.posted_on }}</li>
                        {% if thread.get_latest_reply %}
                            {% with reply=thread.get_latest_reply %}
                                <li>Last Reply: <a href="{% url 'bulletin:profile' reply.posted_by.slug %}">{{ reply.posted_by }}</a> - {{ reply.posted_on }}</li>
                            {% endwith %}
                        {% else %}
                            <li>No posts yet!</li>
                        {% endif %}
                    </ul>
                </li>
            {% empty %}
                <li>No threads yet!</li>
            {% endfor %}
        </ul>
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}