{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class='col-md-3'></div>
    <div class='col-md-6 py-2'>
        <h2 class='bg-info p-2 rounded-top text-light mb-0'>{{ title }}</h2>
        <form method="POST" class="bg-light p-2">
            {% csrf_token %}
            {{ form|crispy }}
            <button class='btn btn-primary'>Submit</button>
        </form>
    </div>
    <div class='col-md-3'></div>
</div>
{% endblock %}