{% extends 'base.html' %}

{% block title %}Bulletin Board{% endblock %}

{% block nav %}
    {% if user.person.role > 2 and not user.person.is_banned %}
        <a class="nav-item nav-link" href="{% url 'bulletin:add_board' %}">Add Board</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container row py-2">
    <div class="col">
        <h3>Boards</h3>
        <ul>
            {% for board in boards %}
                <li>
                    <a href="{% url 'bulletin:board' board.slug %}">{{ board.name }}</a>   
                    <ul>
                        <li>Creator: <a href="{% url 'bulletin:profile' board.creator.slug %}">{{ board.creator }}</a></li>
                        <li>Created on: {{ board.created_on }}</li>
                        {% if board.get_thread_with_latest_reply %}
                            {% with th=board.get_thread_with_latest_reply %}
                                <li><a href="{% url 'bulletin:thread' th.slug %}"></a>Recent Active Thread: {{ th.title }}</li>
                            {% endwith %}
                        {% else %}
                            <li>No Threads Yet</li>
                        {% endif %}
                        {% if board.thread_set.count > 0 %}
                            <li>Thread Count: {{ board.thread_set.count }}</li>
                        {% endif %}
                        {% if board.post_count > 0 %}
                            <li>Post Count: {{ board.post_count }}</li>
                        {% endif %}
                    </ul>
                </li>
            {% empty %}
                <li>No boards yet!</li>
            {% endfor %}
        </ul>
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}