{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-md-flex align-items-center flex-column justify-content-center h-100">
    <div>
        <h2 class='bg-info p-2 rounded-top text-light mb-0'>Login</h2>
        <form method="POST" class="bg-light p-2">
            <fieldset>
                {% csrf_token %}
                {{ form|crispy }}
                <button class='btn btn-info'>Submit</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}