{% extends 'base.html' %}

{% block title %}Bulletin Board{% endblock %}

{% block content %}
<div class="container row py-2">
    <div class="col">
        <h3>{{ person.user.get_full_name }}</h3>
        {% if user.is_authenticated and user.person != person %}
            Action:
            {% if user.person.role > 1 and not user.person.is_banned %}
                {% if person.is_banned %}
                    <a href="{% url 'bulletin:change_person_status' person.slug %}" class="btn btn-primary">Unban Person</a>
                {% else %}
                     <a href="{% url 'bulletin:change_person_status' person.slug %}" class="btn btn-danger">Ban Person</a>
                {% endif %}
            {% endif %}
            {% if user.person.role > 2 and not user.person.is_banned %}
                {% if person.role != 1 %}
                    <a href="{% url 'bulletin:change_role' person.slug 1 %}" class='btn btn-warning'>Assign as Poster</a>
                {% endif %}
                {% if person.role != 2 %}
                    <a href="{% url 'bulletin:change_role' person.slug 2 %}" class='btn btn-warning'>Assign as Moderator</a>
                {% endif %}
                {% if person.role != 3 %}
                    <a href="{% url 'bulletin:change_role' person.slug 3 %}" class='btn btn-warning'>Assign as Administrator</a>
                {% endif %}
            {% endif %}
        {% endif %}
        <h4>Posts</h4>
        {% if page_obj %}
            <dl>
                {% for post in page_obj %}
                    <dt> <a href="{% url 'bulletin:thread' post.thread.slug %}">{{ post.thread }}</a> - {{ post.posted_on }}</dt>
                    <dd>{{ post.message }}</dd>
                {% endfor %}
            </dl>
        {% else %}
            <p>No posts yet!</p>
        {% endif %}
        </dl>
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}