{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form method='POST'>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary">Reply</button>
</form>
{% endblock %}