{% extends 'base.html' %}

{% block title %}Bulletin Board{% endblock %}

{% block nav %}
    {% if not user.person.is_banned %}
        {% if not thread.is_locked %}
            <a class="nav-item nav-link" href="{% url 'bulletin:post' thread.slug %}">Add Post</a>
        {% endif %}
        {% if user.person.role > 1 %}
            <a class="nav-item nav-link" href="{% url 'bulletin:change_thread_status' thread.slug %}">
                {% if thread.is_locked %}
                    Unlock Thread
                {% else %}
                    Lock Thread
                {% endif %}
            </a>
        {% endif %}    
    {% endif %}
{% endblock %}

{% block content %}
<div class="container row py-2">
    <div class="col">
        <h3>{{ thread.title }} {% if thread.is_locked %}(Locked){% endif %}</h3>
        <h5>Board: {{ thread.board.name }}</h5>
        <ul>
            <li>Author:  <a href="{% url 'bulletin:profile' thread.posted_by.slug %}">{{ thread.posted_by }}</a></li>
            <li>Date: {{ thread.posted_on }}</li>
        </ul>
        <h4>Posts</h4>
        {% if page_obj %}
            <dl>
                {% for post in page_obj %}
                    <dt> <a href="{% url 'bulletin:profile' post.posted_by.slug %}">{{ post.posted_by }}</a> - {{ post.posted_on }}</dt>
                    <dd>{{ post.message }}</dd>
                {% endfor %}
            </dl>
        {% else %}
            <p>No posts yet!</p>
        {% endif %}
        </dl>
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}