<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Bulletin Board{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block meta %}{% endblock %}
    </head>
    <body style="height: 100vh">
        {% if not no_nav %}
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bulletinNavbar" aria-controls="bulletinNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'bulletin:index' %}">
                Bulletin Board
            </a>
            <div class="collapse navbar-collapse" id="bulletinNavbar">
                <div class="navbar-nav">
                    {% block nav %}{% endblock %}
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'bulletin:change_password' %}">Change Password</a>
                    {% endif %}
                </div>
                <div class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'bulletin:logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'bulletin:login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'bulletin:register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% endif %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible show fade" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>